name: Update PeachyCode YouTube Videos

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: DenverCoder1/github-readme-youtube-cards@main
        with:
          channel_id: UC2OZVYn11sPRNcQknXg1svQ
          max_videos: 6
